<%- include('partials/header') %>
  <div class="jumbotron text-center">
    <div class="container">
      <i class="fa-solid fa-question fa-6x"></i>
      <h2 class="display-3">Your Quiz Successfully Created!</h2>
      <h3  style="color:red;"  class="secret-text">Your Quiz ID is <b><%= quiz_id%></b></h3>
      <a class="btn btn-dark btn-lg" href="/" role="button">Home Page</a>
    </div>
  </div>
  <%- include('partials/footer') %>